@model IEnumerable<OnlineShopmanager.Models.SaleDetail>

@{
    ViewData["Title"] = "Sales-Details";
}

<h1 class="text-center textcolor">Sales Details</h1>


<table class="table">
    <thead>
        <tr>
            <th class="tangerine">
                @Html.DisplayNameFor(model => model.TransactionID)
            </th>
            <th class="tangerine">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th class="tangerine">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="tangerine">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.TransactionID)
            </td>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
