@model IEnumerable<OnlineShopmanager.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center textcolor">Available Products</h1>

<p class="text-right">
    <a asp-action="Create">Add New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="tangerine">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th  class="tangerine">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th  class="tangerine">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th  class="tangerine">
                @Html.DisplayNameFor(model => model.StockedQuantity)
            </th>
            <th  class="tangerine">
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td  class="textcolor">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.StockedQuantity)
            </td>
            <td class="textcolor">
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
